// Colors
$background-color: #323639;
$text-color: #f2f2f2;
$text-light-color: #b4b4b4;
$text-placeholder: #8f8f8f;
$medium-gray: #46494b;
$app-accent-color1: #d3c270;
$button-background-color1: #3d4144;
$border-color1: #474c50;

// Elements
$button-border-radius: 7px;
$button-border-radius-mini: 4.5px;
$input-radius: 3px;
$input-height: 31px;
$top-page-nav-height: 55px;
$mini-sidebar-width: 40px;
$expanded-sidebar-width: 200px;
$nav-top-bar: 100px;
